@using webbanhangmvc.Models;
@using X.PagedList.Mvc.Core;
@model IEnumerable<TLoaiSp>
<div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all no-click">
                            @*<i class="fa fa-bars"></i>*@
                            <span>Danh Mục Sản Phẩm</span>
                        </div>
                        <ul >
                            
                            @foreach(var item in Model)
                            {
@*                              <li><a style ="cursor:pointer" onclick="showProductByCategory('@getUrl')">@item.Loai </a></li>*@
                                <li><a asp-controller="Home" asp-action="SanPhamTheoLoai" asp-route-maloai="@item.MaLoai">@item.Loai </a></li>
                            }
                       </ul>
                        
                    </div>
                </div>
  @*              <script>
                    function showProductByCategory(getUrl){
                        var str='';
                        $.ajax({
                            type: 'GET',
                            url: getUrl,
                            dataType: 'json',
                            success:function(data){
                                $.each(data, function(key, val){
                                    str += '<div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat" >';
                                    str += '<div class="featured__item" >';
                                    str += '<div class="featured__item__pic set-bg" data-setbg=\"';
                                    var linkImage = "../ProductsImages/" +$.trim(val.anhDaiDien);
                                    str += linkImage;
                                    str += '\" style = "background-image: url(&quot;';
                                    str += linkImage;
                                    str += '&quot;)">';
                                    str += '<ul class="featured__item__pic__hover" >';
                                    str += '<li><a href="#" > <i class="fa fa-heart"></i></a></li>';
                                    str += '<li><a href="#" > <i class="fa fa-retweet"></i></a></li>';
                                    str += '<li><a href="/Cart/AddToCart?productId=' + val.maSp + '"><i class="fa fa-shopping-cart"></i></a></li>';
                                    str += '</ul></div>';
                                    str += '<div class="featured__item__text" >';
                                    str += '<h6><a href=\"/Home/SanPhamTheoLoai?maSp={new}';
                                    str += $.trim(val.tenSp);
                                    str += '\">';
                                    str += $.trim(val.tenSp);
                                    str += '</a></h6 ><h5>';
                                    str += val.giaNhoNhat.toString();
                                    str += '</h5> </div></div></div>';
                                    str +='<div class="product__pagination" >';
                                    for (int i = 1; i <= Model.PageCount; i++)
                                    {
                                        var cssClass = i == ViewBag.CurrentPageNumber ? "current" : "";
                                        str += '<a href="@Url.Action("SanPhamTheoLoai", new { maloai=ViewBag.maloai, page=' + i + ' })" class="' + cssClass + '">' + i + '</a>';
                                    }

                                    
                                    //str += '<p>'+val.tenSp+'</p>'
                                });
                                $('#displayProduct').html(str);
                            },
                            Errror: function(xhr){
                                alert(xhr.reponseText)
                            }
                        });
                    }
                </script>*@