@using webbanhangmvc.Models
@model LayoutViewModel

<h2>Chỉnh sửa Footer</h2>

<form asp-action="EditFooter" method="post">
    <div class="form-group">
        <label for="FooterContent">Nội dung Footer:</label><br />
        <textarea id="FooterContent" name="Body" rows="20" cols="200">@Html.Raw(Model.Footer)</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lưu</button>
    </div>
</form>
