@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model webbanhangmvc.Models.DonHang

@{
    ViewData["Title"] = "SuaDonHang";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Sửa Đơn Hàng</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="SuaDonHang">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaHoaDon" />
            <div class="form-group">
                <label asp-for="TenKh" class="control-label"></label>
                <input asp-for="TenKh" class="form-control" />
                <span asp-validation-for="TenKh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSp" class="control-label"></label>
                <input asp-for="TenSp" class="form-control" />
                <span asp-validation-for="TenSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayBan" class="control-label"></label>
                <input asp-for="NgayBan" class="form-control" />
                <span asp-validation-for="NgayBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soluong" class="control-label"></label>
                <input asp-for="Soluong" class="form-control" />
                <span asp-validation-for="Soluong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThanhTien" class="control-label"></label>
                <input asp-for="ThanhTien" class="form-control" />
                <span asp-validation-for="ThanhTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phuongthuctt" class="control-label"></label>
                <input asp-for="Phuongthuctt" class="form-control" />
                <span asp-validation-for="Phuongthuctt" class="text-danger"></span>
            </div>
           <div class="form-group">
    <label asp-for="Xulydonhang" class="control-label"></label>
    <select asp-for="Xulydonhang" class="form-control">
        <option value="Chưa xử lý">Chưa xử lý</option>
        <option value="Đã xử lý">Đã xử lý</option>
    </select>
    <span asp-validation-for="Xulydonhang" class="text-danger"></span>
</div>

            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Về Trang Chủ</a>
</div>

