@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model webbanhangmvc.Models.TUserKh

@{
    ViewData["Password"] = "ThemNguoiDung";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Thêm Người Dùng</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ThemNguoiDung">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UsernameKh" class="control-label"></label>
                <input asp-for="UsernameKh" class="form-control" />
                <span asp-validation-for="UsernameKh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenKhachHang" class="control-label"></label>
                <input asp-for="TenKhachHang" class="form-control" />
                <span asp-validation-for="TenKhachHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label"></label>
                <input asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoDienThoai1" class="control-label"></label>
                <input asp-for="SoDienThoai1" class="form-control" />
                <span asp-validation-for="SoDienThoai1" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
