@using webbanhangmvc.Models;
@model LayoutViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "QuanLyBaiDang";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<p>
    <a asp-action="EditFooter">Sửa Footer</a>
</p>
    <div class="container mt-5">
        <h2>Footer Content</h2>
        <div class="card">
            <div class="card-footer">
               @Html.Raw(Model.Footer)
            </div>
        </div>
    </div>
